<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content_Type" content="text/html; charset=UTF-8">
<title>List</title>
</head>
<body>

<!DOCTYPE html>
<html lang="ko">

	<head>

		<title>KITCHEN CALL</title>

		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

		<!--
		<link rel="icon" href="/img/common/01_Favicon_type06_16x16.png" sizes="16x16">
		<link rel="icon" href="/img/common/01_Favicon_type06_32x32.png" sizes="32x32">
		<link rel="icon" href="/img/common/01_Favicon_type06_57x57.png" sizes="57x57">
		<link rel="icon" href="/img/common/01_Favicon_type06_96x96.png" sizes="96x96">
		<link rel="icon" href="/img/common/01_Favicon_type06_114x114.png" sizes="114x114">

		<link rel="canonical" href="https://softmania.co.kr/index.html">

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Title" content="소프트매니아" />
		<meta http-equiv="Author" content="carvecat" />
		<meta http-equiv="Publisher" content="소프트매니아" />
		<meta http-equiv="Reply-To" content="contact@softmania.co.kr" />
		<meta http-equiv="Email" content="contact@softmania.co.kr" />
		<meta http-equiv="Build" content="Wed,20 Jun 2019" />
		<meta http-equiv="Last-Modified" content="Wed,20 Jun 2019 12:34:56" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="author" content="SOFTMANIA">
		<meta name="Title" content="소프트매니아" />
		<meta name="Keywords" content="웹개발, 앱개발, 블록체인, 컨텐츠개발, 웹솔루션, 앱솔루션, 자바개발, 서버개발, 스타트업, 소프트매니아, 소프트, 매니아, softmania" />
		<meta name="Description" content="SOFTMANIA는 2019년 3월에 시작한 스타트업 기업입니다." />

		<meta property="og:type" content="website">
	    <meta property="og:title" content="소프트매니아">
	    <meta property="og:description" content="SOFTMANIA는 2019년 3월에 시작한 스타트업 기업입니다.">
	    <meta property="og:image" content="https://www.softmania.co.kr/images/softmania.png">
	    <meta property="og:url" content="https://www.softmania.co.kr">
	    <meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="소프트매니아">
		<meta name="twitter:description" content="SOFTMANIA는 2019년 3월에 시작한 스타트업 기업입니다.">
		<meta name="twitter:image" content="https://www.softmania.co.kr/images/softmania.png">
		<meta name="twitter:domain" content="https://www.softmania.co.kr/">
		-->

		<link rel="stylesheet" type="text/css" href="/asset/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="/asset/css/defult.css">
		<link rel="stylesheet" type="text/css" href="/asset/css/common.css">
		<link rel="stylesheet" type="text/css" href="/asset/css/style.css">
		<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="/js/ui.js"></script>
	-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="/asset/js/nav.event.js"></script>
		<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
		

	</head>

	<body class="white">

		
	<div class="gnbNone">
		<p class="gnbSubtitle scoreR fcW fs36">
							공지사항					</p>
		<p class="gnbAlarm"><a href="#"><img src="/asset/img/common/alram.png"></a></p>
		<p class="gnbSearch">
							<a href="#"><img src="/asset/img/common/search.png"></a>
					</p>
	</div>

	<div class="subgnb">
		<p class="gnbSubtitle scoreR fcW fs28">공지사항</p>
		<p class="gnbBack"><a href="javascript:history.back()"><img src="/asset/img/common/icon_back.png"></a></p>
	</div>

	<div class="subgnbNone">
		<p class="gnbSubtitle scoreR fcW fs28">공지사항</p>
		<p class="gnbBack"><a href="/main.php"><img src="/asset/img/common/icon_home.png"></a></p>
	</div>

	<div class="subgnbNone">
		<p class="gnbSubLogo scoreR fcW fs28"><img src="/asset/img/common/gnb_logo.png"></p>
		<p class="gnbBack"><a href="javascript:history.back()"><img src="/asset/img/common/icon_back.png"></a></p>
		<p class="gnbSearch">
			<a href="#">
				<img src="/asset/img/common/icon_cart.png">
				<span class="cartNum fs16"><b class="fcGR">2</b></span>
			</a>
		</p>
	</div>
<div class="noticeBody">
	<div class="noticeTitleBox">
		<p class="noticeTitle scoreR fs30"><span>공지사항을 확인하세요.</span></p>
	</div>
	<div>
	{% for row in gbList %}
	<form method="POST", action="passwd_check">
	{% csrf_token %}
	<input type="hidden" name="idx" value="{{row.idx}}">

	  <ul class="notice" data-notice="open">
		 <li>
		   <div class="notice-header">
			 <span class="scoreR fs24 ls-05 notice-title">{{row.title}}</span></br>
			 <span class="notice-date">{{row.post_date|date:"Y-m-d"}}</span>
		   </div>
		   <div class="notice-body">
				{{row.content}}
		   </div>
	    </li>		
	</div>
	</form>
	{% endfor %}
</div>
<input type="button" value="글쓰기" onclick="location.href='write'">

<script id="rendered-js">
var notice = function () {
  // Read out the data attribute for type of notice
  var data = $(".notice").attr("data-notice");
  // start the event Handler
  $(".notice-header").on("click", function () {
    // Look out for the type of notice open or close
    if (data === "close") {
      $(".notice-body").slideUp();
      if ($(this).hasClass("active")) {
        $(this).toggleClass("active");
      } else
      {
        $(".notice-header").removeClass("active");
        $(this).toggleClass("active");
      }
    } else
    {
      $(this).toggleClass("active");
    }
    $(this).next(".notice-body").not(":animated").slideToggle();
  });
};

notice();
</script>


		
		
	<div class="fnbNone">
		<ul class="scoreM fcW">
			<li class="home "><a href="/main.php">홈</a></li>
			<li class="res "><a href="/page/reservation.php">나의예약</a></li>
			<li class="fav "><a href="#">단골가게</a></li>
			<li class="my "><a href="/page/terms.php">마이페이지</a></li>
		</ul>
	</div>
	</body>

</html>